* {
  margin: 0;
  padding: 0;
}

body {
    animation: gradient 20s ease infinite;
    background:linear-gradient(135deg, rgb(0, 255, 34) 0%, rgba(33, 150, 243) 25%, rgba(148, 38, 167) 50%, rgba(255, 0, 4) 75%, rgba(255, 235, 59) 100%);
    background-size: 150% 400%;
    background-repeat: no-repeat;
    margin-top: 20px;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%
  }
  to {
    margin-left: 100%
  }
}

nav {
  position: fixed;
  top: calc(50% - 191px);
  left: 25px;
}

a {
  display: block;
  width: 50px;
  height: 50px;
}

a>img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  position: relative;
  top: 8px;
  left: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  margin-left: 100px;
  width: calc(100% - 100px);
  text-align: center;
}

#slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .image {
  animation: 2s linear 1s slidein;
} */

.image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.imageContainer {
  box-sizing: content-box;
  overflow: hidden;
}

.arrow {
  margin: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
}

.sliderButton {
  width: 20px;
  height: 20px;
  background-color: black;
}

.sliderButtons {
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 50%;
}