* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap&family=Permanent+Marker&display=swap');

body {
    animation: gradient 20s ease infinite;
    background:linear-gradient(135deg, rgb(0, 255, 34) 0%, rgba(33, 150, 243) 25%, rgba(148, 38, 167) 50%, rgba(255, 0, 4) 75%, rgba(255, 235, 59) 100%);
    background-size: 150% 400%;
    background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%
  }
  to {
    margin-left: 100%
  }
}

nav {
  position: fixed;
  top: calc(50% - 150px);
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-list>li, .contacts>li {
  margin: 20px 10px;
}

a {
  display: block;
  width: 50px;
  height: 50px;
}

a>img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  margin: 20px 0 0 300px;
  text-align: center;
}

.Greeting {
  display: flex;
  flex-direction: row;
}

.frame {
  width: 480px;
  height: 580px;
  background-color: white;
  font-size: 25;
  transform-origin: top right;
  transform: rotate(-15deg);
  margin: 20px 0 150px -100px;
}

.frame>img {
  width: 440px;
  height: 480px;
  object-fit: cover;
  margin-top: 20px;
}

.frame>span {
  font-family: 'Dancing Script', cursive;
}

.box {
  transform-origin: top left;
  transform: rotate(-15deg);
  display: flex;
  flex-direction: column;
}

.box-content {
  transform-origin: top left;
  transform: rotate(15deg);
  text-align: left;
  font-size: 1.3em;
  margin: 20px;
}

.box>h2 {
  align-self: center;
  text-align: center;
  padding-left: 200px;
}

#slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .image {
  animation: 2s linear 1s slidein;
} */

.image {
  width: 70vmin;
  height: 70vmin;
  object-fit: cover;
}

.imageContainer {
  box-sizing: content-box;
  overflow: hidden;
}

.arrow {
  margin: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
}

.sliderButton {
  width: 20px;
  height: 20px;
  background-color: black;
}

.sliderButtons {
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px calc(50% - 50px);
}

.contacts {
  display: flex;
  flex-direction: row;
  margin: 10px calc(50% - 175px);
}