* {
  margin: 0;
  padding: 0;
}

body {
    animation: gradient 20s ease infinite;
    background:linear-gradient(135deg, rgb(0, 255, 34) 0%, rgba(33, 150, 243) 25%, rgba(148, 38, 167) 50%, rgba(255, 0, 4) 75%, rgba(255, 235, 59) 100%);
    background-size: 150% 400%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

nav {
  position: fixed;
  top: calc(50% - 191px);
  left: 25px;
}

a {
  display: block;
  width: 50px;
  height: 50px;
}

a>img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  position: relative;
  top: 8px;
  left: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.info {
  padding-left: 100px;
  width: 100%;
  text-align: center;
}
/* 
.info>img {
  width: ;
  height: 34px;
} */



